body
{
    background-color:#cccccc;
    font-family: sans-serif;   /*Added font size and style here instead of the table*/
    font-size: 0.938em;
    background-image:url('../images/bg.png');
    background-repeat: repeat-x;
}
ol
{
    background-color:hsla(120,0%,50%,0.3);

}
h1
{
    font-family: sans-serif;
    background-color: #cccccc;
    color: rgb(255,255,255);
}
h2
{
    font-family: sans-serif;
    background-color: #cccccc;
    color: rgb(255,255,255);
    height: 50px;
}
h2:hover
{
    background-color: #69bff6; /*Added hover over the headers instead of the table rows*/
}
h4
{
    font-family: sans-serif;
    background-color: #cccccc;
    color: rgb(255,255,255);
}
table.main
{
    background-color:hsl(120,100%,100%);
    border-width: 1px;
    border-color:black;
    margin-top:-0.5%;
    padding: 0.5%;
    width: 80%;
    letter-spacing: 1px;
    text-align: left;
    border-spacing: 2px;


}
tr
{
    border-width: 0px;
}
td
{
    border-width: 0px;
}

nav
{
    width: 12%;
    float: left;
    margin-right: 0.7%;
}
footer
{
clear: both;
}

.history
{
    background-image: url('../images/history.png');
    background-repeat: no-repeat;
    background-position: 99.5% top;

}
.tools
{
    background-image: url('../images/tools.png');
    background-repeat: no-repeat;
    background-position: 99.5% top;
}
.skills
{
    background-image: url('../images/skills.png');
    background-repeat: no-repeat;
    background-position: 99.5% top;
}


.profession
{
    background-image: url('../images/profession.png');
    background-repeat: no-repeat;
    background-position: 99.5% top;
}

.linked
{
    background-image: url('../images/links.png');
    background-repeat: no-repeat;
    background-position: 99.5% top;
}