html,body
{
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-repeat: repeat;
    font-family: sans-serif;
    font-style: normal;
    font-weight: inherit;
    font-size: 13px;
    line-height: 20px;


}
div.content
{
    width: 80%;
    border: 2px solid;
    border-color: #2f93f7;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 100%;
    padding: 2px;
    opacity: 99.5;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #0000ff ;
    background-image: url('../images/bg2.jpg');
    background-position: 78%;
    background-repeat: no-repeat;
}
header
{
    text-align: center;
    text-shadow: 2px 2px #cccccc;
}
section
{
    float: left;
    width: 75%;

    height: 80%;
}
aside
{
    float: right;
    width: 20%;

    text-align: center;

}
nav
{
    float: right;
    width: 20%;
    border: 1px solid;
}
th
{
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background-repeat: repeat-x;
}
th:hover
{
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#ffffff 86%);
}
table
{
    width: 100%;
}
footer
{
    font-size: 10px;
    font-style: italic;
    clear: both;
    text-align: center;
}